<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Questionnaire.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true"/>
  </system.webServer>
<connectionStrings>
  <add name="constring" connectionString="Data Source=DESKTOP-7LK02NS\SQLEXPRESS;Initial Catalog=Onlinemoni;User ID=sa;Password=wxyn1998" providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>